<html ng-app="ngSwitchApp">
  <!--
  State loss demo! State is lost when we switch between controllers and showing 
  the use of the directive 'ag-switch'.

  -->
  <head>
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
    </script>
    <script src="ng-switch-app.js"></script>
  </head>
  <body ng-controller="MainCtrl as mainCtrl">

    <h1>Hello Controllers!</h1>
    <button ng-click="mainCtrl.open('first')">Open First</button>
    <button ng-click="mainCtrl.open('second')">Open Second</button> 
    
    <!--
    The 'ng-switch' directive acts like a switch statement in the HTML. It takes a variable 
    (using the on attribute, which in this case is MainCtrl’s tab), and then, depending on 
    the state, hides and shows elements (using the ng-switch-when attribute, used as children 
    of the ng-switch). The ng-switch-when takes the value that the variable should take.

    Both of the tabs, First and Second, are using the same controller, SubCtrl. But each one 
    has its own instance of the list variable. Adding items in one tab does not add them to 
    the other, and vice versa.
    -->
    <div ng-switch on="mainCtrl.tab">
      
      <!-- When mainCtrl.tab == "first" show this <div>... -->
      <div ng-switch-when="first">
        <!-- This controller is created/destroyed as it is switched in/out. -->
        <div ng-controller="SubCtrl as ctrl">
          <h3>First tab</h3>
          <ul>
            <li ng-repeat="item in ctrl.list"> 
              <span ng-bind="item.label"></span>
            </li> 
          </ul>
          <button ng-click="ctrl.add()">Add More Items</button> 
        </div>
      </div>

      <!-- When mainCtrl.tab == "second" show this <div>... -->
      <div ng-switch-when="second">
        <!-- This controller is created/destroyed as it is switched in/out. -->
        <div ng-controller="SubCtrl as ctrl"> 
          <h3>Second tab</h3>
          <ul>
            <li ng-repeat="item in ctrl.list">
              <span ng-bind="item.label"></span>
            </li> 
          </ul>
          <button ng-click="ctrl.add()">Add More Items</button>
        </div>
      </div>

    </div>
  </body>
</html>